<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="../.nuget-packages" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Private feed for the shared RVT common packages. Credentials come from the environment
         (RVT_PACKAGES_USER / RVT_PACKAGES_TOKEN); never store a literal token in this file. -->
    <add key="rvt-group" value="https://nuget.pkg.github.com/RVT-Group-LTD/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <rvt-group>
      <add key="Username" value="%RVT_PACKAGES_USER%" />
      <add key="ClearTextPassword" value="%RVT_PACKAGES_TOKEN%" />
    </rvt-group>
  </packageSourceCredentials>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
</configuration>
